
body{
    margin:0;
    padding:0;
    font-family: "Quicksand", sans-serif;
    background: #EFE7E3;
}
.h2, h2 {
    font-size: 22px;
}

.my-logo {
    color: #292a2c;
    text-shadow: 1px 1px #292a2c;
    font-family: "Fredericka the Great";
    font-size: 35px;
    letter-spacing: -3px;
    margin-top: -11px;
}
.back-btn {
    margin-top: 20px;
}
#firstname {
    height: 35px;
}
#lastname {
    height:35px;
    padding-right:20px;
}
.nav-background {
    background-color: #EFE7E3 !important;
}
.nav-link .active{
    color: #292a2c !important;
}
.nav-item {
        color: #918b8b;
       font-weight: bold;
    }
.nav-wrapper {
    margin: 50px 70px;
    font-size: 20px;
}
nav.navbar {
    float: right;
}


.myphoto {
    width: 100%;
    height: auto;
    float: right;
    border-radius: 4px;
}
.bookphoto {
    max-height: 400px;
}
.aboutme {
    font-size: 18px;
    color: #292a2c;
    text-align: justify;
}
.aboutbook {
    font-size: 16px;
    color: #292a2c;
    text-align: justify;

}
.details {
    margin: 0 auto;
    text-align:left;
}
.bookdetails {
    margin: 0 auto 70px;
    text-align: center;

}
.book-link {
    font-size: 14px;
    margin: 10px 0;
}

.media-wrapper {
    padding: 40px 0;
}
.storybox1 {
    height: auto;
    width: 260px;
    padding: 10px;
    float: right;
}
.storybox2 {
    height: auto;
    width: 260px;
    padding: 10px;
    float: left;
}

.best-seller {
    margin: 20px auto;
}
.best-sellerpic {
    max-height: 300px;
}
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    font-family: "Quicksand", sans-serif;
    background: #EFE7E3;
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 33px;
    color: #292a2c;
    display: block;
    transition: 0.3s;
    font-weight: 500;
  }
  
  .overlay .nav-link:hover, .overlay .nav-link:focus {
    color: #292a2c !important;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 10px;
    right: 60px;
    font-size: 60px;
  }
  .contactbox {
    background: #fff;
    margin: 70px auto;
    border-radius: 20px;
    padding: 50px 0;
}
.contactbox h1{
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}
.contactbox h2{
    text-align: center;
    padding: 10px 0;
    font-size: 15px;
}
.emailbox{
    text-align: center;
}
.emailbox img {
    height: 120px;
}

.projectdetails {
 
    margin-bottom: 180px;
}
.project-title {
    text-align: center;
    padding: 10px 0;
    font-weight: bold;
    text-shadow: 2px 2px #fff;
    font-size: 45px;
}
.box-wrapper {
    background: #ffffff;
    margin: 20px 0;
    border: 1px solid #dddddd;
    padding: 10px;
    min-height: 440px;
}
.box-image{
    padding: 20px;
}
.box-content {
    padding: 100px 0;
    text-align: center;
}
.box-content2 {
    text-align: center;
    padding-bottom: 30px;
}
.view-study {
    margin-top: 40px;
}
a.view-studylink {
    background: #000000;
    padding: 16px 30px;
    color: #ffffff;
    text-decoration: none;
    border-radius: 10px;
}
.backlink {
    background: #000000;
    padding: 8px 30px;
    text-decoration: none;
    border-radius: 10px;
    font-size: 16px;
    color: #ffffff;
}
.backlink:hover {
    color: #ffffff;
    text-decoration: none;

}
@media only screen and (max-width: 991px) {
    .aboutme{
      margin-top:20px;
    }
    .aboutbook {
        margin-top:20px;
    }
    .nav-wrapper {
        margin: 35px 70px;
    }
  }
  @media only screen and (max-width: 639px) {
    .storybox1, .storybox2 {
        width: 160px;
    }
  }
  @media only screen and (max-width: 600px)
  {
    .nav-wrapper {
        margin: 35px;
    }
    .contactbox h1{
        font-size: 25px;
   }
}

  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
    
  }
  

